<div class="row">
  <div class="col-sm-9">
    <h1>Building Area Calculator</h1>
  </div>
  <div class="col-sm-3">
    <p class="text-right mt-2">
      <button
        id="angle-button"
        type="button"
        (click)="changeAngle();"
        class="btn btn-secondary"
      >
        {{angleText}}&deg;
      </button>
      <button type="button" (click)="zoomFit()" class="btn btn-secondary">
        <i class="material-icons">crop_free</i>
      </button>
      <button type="button" (click)="undo()" class="btn btn-secondary">
        <i class="material-icons">undo</i>
      </button>
    </p>
  </div>
</div>
<div class="row">
  <div #container (window:resize)="onResize()" class="col-sm-12">
    <canvas #canvas (click)="onClick($event)" [width]="width" [height]="height"></canvas>
    <p>{{prompt}}</p>
    <form (ngSubmit)="onSubmit()" *ngIf="showForm">
      <mat-form-field>
        <input matInput type="number" min="0" [formControl]="control" required />
      </mat-form-field>
    </form>
  </div>
</div>
