<mat-card *ngIf="data">
  <mat-card-title>{{data.name}}</mat-card-title>
  <mat-card-content>
    <app-screen-preview [tiles]="data.tiles"></app-screen-preview>
  </mat-card-content>
  <mat-card-actions>
    <a
      [routerLink]="['/screen/edit']"
      [queryParams]="{ id: data.id }"
      mat-raised-button
      color="primary"
    >
      Edit screen
    </a>
    <a [routerLink]="['/screen']" mat-flat-button color="link">
      Back
    </a>
  </mat-card-actions>
</mat-card>
<mat-spinner *ngIf="!data"></mat-spinner>