@import '../../sass/_breakpoints.sass'

.spacer
  flex-grow: 1

mat-sidenav 
  min-width: 250px

.site-container
  display: flex
  min-height: 100vh
  flex-direction: column

mat-sidenav-container
  flex-grow: 1

mat-sidenav-content
  min-height: 100%

.non-tab-button, .mat-icon-button
  display: flex
  align-items: center
  color: #fff

.site-title
  font-size: 24px
  color: #fff
  margin-right: 24px

.email
  color: #fff
  padding-right: 24px

a.hidden
  display: none

@media (min-width: $breakpoint-sm)
  mat-sidenav-content
    padding: 24px 32px

    &.fullscreen
      padding: 0