<div class="site-container">
  <nav mat-tab-nav-bar background-color="primary">
    <button fxShow="true" fxHide.gt-md="true" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="isOpen = !isOpen">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Brandon's Website</span>
    <a mat-tab-link *ngFor="let link of links"
      [routerLink]="[ link.path ]"
      (click)="activeLink = link.path"
      [active]="activeLink == link.path"> {{link.text}} </a>
    <span class="spacer"></span>
    <span class="email" *ngIf="isAuthenticated" fxShow="true" fxHide.lt-lg="true">{{ email }}</span>
    <a [routerLink]="['/auth/login']" mat-flat-button color="primary">
      {{ isAuthenticated ? 'Logout' : 'Login' }}
    </a>
  </nav>
  <mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="isOpen">
      text
    </mat-sidenav> 
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>